@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #1A3E78;
    --secondary-color: #E53935;
    --text-primary: #333;
    --text-secondary: #555;
    --text-light: #777;
    --text-dark: #111;
    --bg-color: #f4f4f4;
    --bg-dull-white: f0f0f0;
    --text-negative: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.space-x {
    padding-left: 36px;
    padding-right: 36px;
}



/* Navbar Section */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.35rem 2rem;
}

.brand-logo {
    width: 150px;
    object-fit: contain;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

nav ul li a {
    position: relative;
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 0.95rem;
    transition: color 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }

    &:active {
        color: var(--text-primary);
    }
}

nav ul li a.active {
    color: var(--secondary-color);
}

nav ul li a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 40%;
    height: 2px;
    background-color: var(--secondary-color);
}

nav ul li:last-child a {
    color: var(--primary-color);
    font-size: 1.25rem;
}


/* Navbar Section */

/* Hero Section */

.hero-container {
    background: url('../assets/images/hero.jpg') no-repeat;
    height: calc(100vh - 85.28px);
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 0.9rem;
    color: var(--text-dark);
}

.hero-container p {
    font-size: clamp(0.85rem, 2vw, 1rem);
    margin-bottom: 1rem;
}

.hero-container .reviews {
    color: var(--text-dark);
    font-size: 0.9rem;
    text-decoration: dotted underline;
    text-underline-offset: 4px;
    margin-bottom: 0;

}


/* Hero Section */

/* Tab Section */
.tabs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.tab {
    padding: 1rem;
    background-color: #ddecec;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;

    &:hover {
        transform: scale(1.02);
        background-color: #d0e7e7;
    }

    &:active {
        transform: scale(0.99);
        border: 1px solid var(--primary-color);
    }

}

.tab img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.tab p {
    margin-bottom: 0;
    color: var(--text-primary);
    font-weight: 600;
}

.tabs-container .tab:nth-child(2) {
    background-color: #e2e1ee;
}

.tabs-container .tab:nth-child(3) {
    background-color: #eddfdf;
}

.tabs-container .tab:nth-child(4) {
    background-color: #d9eede;
}

/* Tab Section */