.btn-primary {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0.5rem;
    color: var(--text-negative);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: fit-content;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 1.5rem;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}